{
    "environnements": {
        "${MAIN_HOST}": {
            "url" : "${NAVITIA}",
            "key" : "${KEY}",
            "tyr" : "${TYR}"
        }
    },
    "default" : {
        "environnement": "${MAIN_HOST}",
        "coverage": "${COVERAGE}"
    },
    "safe_mode" : "yes"
}
