{
    "environnements": {
        "{{HOST}}": {
            "url" : "{{NAVITIA}}",
            "key" : "{{KEY}}",
            "tyr" : "{{TYR}}"
        }
    },
    "default" : {
        "environnement": "{{HOST}}",
        "coverage": "{{COVERAGE}}f"
    },
    "safe_mode" : "yes"
}
